@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    background-color: #f0f2f4;
    font-family: 'Roboto', sans-serif;

    header {
        background-color: #FFF;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
        height: 5rem;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

        nav {
            ul {
                display: flex;
                li {
                    margin-right: 2rem;
                    cursor: pointer;
                    a {
                        transition: 250ms ease-in-out;
                        &:hover {
                            color: #7158e2;
                        }
                    }
                }
            }
        }
    }

    #cards {
        width: 80%;
        margin: 0 auto;
        padding: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        .card {
            width: 20rem;
            margin: 2rem 1rem;
            transition: 250ms ease-in-out;
            border-radius: 1rem;
            img {
                width: 100%;
                margin-bottom: 1rem;
                border-radius: 1rem;
                transition: 250ms ease-in-out;
            }
            .card-body {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 1rem;
                background-color: #FFF;
                border-radius: 1rem;
                button {
                    padding: .6rem 1.2rem;
                    border-radius: .3rem;
                    border: none;
                    background-color: #7158e2;
                    color: #FFF;
                    transition: 250ms ease-in-out;
                    cursor: pointer;
                    &:hover {
                        background-color: #7d5fff;
                    }
                }
            }
            &:hover {
                background-color: #FFF;
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                img {
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                }
            }
        }
        
    }

    .card-pop-up {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, .5);
        display: flex;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(20px);
        .close-pop-up {
            width: 3rem;
            height: 3rem;
            background-color: transparent;
            border: none;
            color: #FFF;
            position: fixed;
            top: 2rem;
            right: 2rem;
            font-size: 3rem;
            cursor: pointer;
        }
        .country-details {
            display: flex;
            width: 80%;
            border-radius: 1rem;
            transition: 250ms ease-in-out;
            margin-bottom: 2rem;
            img {
                width: 20rem;
                height: 100%;
                border-radius: 1rem;
            }

            .country-details-body {
                padding-left: 1rem;
                display: flex;
                flex-wrap: wrap;
                .country-name-capital-population {
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    div {
                        margin-right: 1rem;
                    }
                    .country-name {
                        h3 {
                            font-size: 1rem;
                            overflow-wrap: break-word;
                            text-align: center;
                        }
                    }
                }
                .country-detail {
                    background-color: #FFF;
                    margin-bottom: 1rem;
                    padding: 1.25rem;
                    border-radius: 1rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    i {
                        margin-right: 1rem;
                    }
                    .separator {
                        margin: 0 1.5rem;
                    }
                    &.country-capital,
                    &.country-currency,
                    &.country-language,
                    &.country-timezone {
                        justify-content: space-between;

                        span {
                            font-size: 1rem;
                        }
                    }
                    &.country-currency,
                    &.country-language,
                    &.country-timezone {
                        width: 100%;
                    }
                }
            }
        }
    }
}